

 <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
       <a class="navbar-brand">Products list</a>
       <form class="d-flex">
         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success" type="submit">Search</button>
         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add
        </button>
       </form>
     </div>
   </nav>
   <br>
   <div class="container">
    <table class="table table-striped table-hover" id="product">
     <thead class="thead-dark" >
       <tr>
         <th scope="col">id</th>
         <th scope="col">Name</th>
         <th scope="col">Quantity</th>
         <th scope="col">Disponibility</th>
         <th scope="col">Creation date</th>
         <th scope="col">Updated date</th>
       </tr>
     </thead>
     <tbody>
        <tr *ngFor = "let i of products" >
          <th scope="row"> {{i.id}}</th>
          <td>{{i.name}}</td>
          <td>{{i.quantity}}</td>
          <td>{{i.disponibility}}</td>
          <td>{{i.createddate}}</td>
          <td>{{i.updatedte}}</td>
          <td> <button type="button"  class="btn btn-danger" (click)="deleteProduct(i.id)">Delete</button>
             <button type="button" class="btn btn-warning" (click)="goToEdit(i.id)" >Edit</button></td>
        </tr>
      
      </tbody>
     </table>
     <div class="col-md-4 text-right">
      <button class="btn btn-success btn-block" (click)="makePdf()">Download PDF</button>
      <button type="button" class="btn btn-primary" (click)="exportexcel()">Export</button>
    </div>
     </div>
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a new product</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          
            <div class="input-group input-group-lg">
              <span class="input-group-text" id="prod_name">Name</span>
              <input type="text" [(ngModel)]="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
              
            </div>

            <div class="input-group input-group-lg">
            <span class="input-group-text" id="prod_quantity">Quantity</span>
            <input type="text" [(ngModel)] = "quantity" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
          <!--   <div class="input-group input-group-lg">
              <span class="input-group-text" id="prod_quantity">Disponibility</span>
              <input type="text" ([ngModel])="proddispo" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
              </div>
          </div> -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)= "addProduct()" >Add to product list</button>
          </div>
        </div>
      </div>
    </div>
     
