<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Category details</a>
    <form class="d-flex">
      
    </form>
  </div>
</nav>
<br>
<br>
<br>

<div class="container">

<br>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Category name</label>
    <input type="email" class="form-control" id="name"  [(ngModel)]="name" name="name" placeholder="Enter Name">
 
  </div>
 
 
  <button type="submit" class="btn btn-primary" (click)="edit()">Save</button>
</form>
</div>